# Dépendances
node_modules/

# Build
dist/

# Environnement
.env
.env.local
.env.*.local

# Éditeurs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*

# Vite temp files
vite.config.js.timestamp-*
